/* Code tidied up by ScrapBook */
@import url("css.css");
body { font-family: "Open Sans",sans-serif; font-weight: 400; color: rgb(34, 34, 34); }
.telephon { font-size: 18px; padding: 20px; background-color: rgb(255, 247, 204); }
h1, h2, h3, h4, h5, h6 { color: rgb(34, 34, 34); font-family: "PT Serif",serif; }
.fa { font-size: 14px; }
h1 { font-size: 35px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
a { color: rgb(194, 14, 14); }
a:hover { text-decoration: none; }
#logo { margin: 0px 0px 10px; }
#cart { margin-bottom: 10px; }
#cart > .btn { font-size: 12px; line-height: 22px; }
#cart .dropdown-menu { background: rgb(238, 238, 238) none repeat scroll 0% 0%; z-index: 1001; }
#cart .dropdown-menu { min-width: 100%; }
@media (max-width: 478px) {
  #cart .dropdown-menu { width: 100%; }
}
@media (max-width: 478px) {
}
#cart .dropdown-menu li p { margin: 20px 0px; }
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
#content { min-height: 600px; }
footer { margin-top: 30px; padding-top: 30px; background-color: rgb(48, 48, 48); border-top: 1px solid rgb(221, 221, 221); color: rgb(226, 226, 226); }
.breadcrumb { margin: 0px 0px 20px; padding: 8px 0px; border: 1px solid rgb(221, 221, 221); }
.breadcrumb i { font-size: 15px; }
.breadcrumb > li { text-shadow: 0px 1px 0px rgb(255, 255, 255); padding: 0px 20px; position: relative; white-space: nowrap; }
.breadcrumb > li + li::before { content: ""; padding: 0px; }
.breadcrumb > li::after { content: ""; display: block; position: absolute; top: -3px; right: -5px; width: 26px; height: 26px; border-right: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); transform: rotate(-45deg); }
.btn { padding: 7.5px 12px; font-size: 12px; border: 1px solid rgb(204, 204, 204); border-radius: 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn-lg { padding: 10px 16px; font-size: 15px; }
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover { font-size: 12px; }
.btn-group > .btn-lg { font-size: 15px; }
.btn-default { color: rgb(119, 119, 119); text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); background-color: rgb(231, 231, 231); background-image: linear-gradient(to bottom, rgb(238, 238, 238), rgb(221, 221, 221)); background-repeat: repeat-x; border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(179, 179, 179) rgb(183, 183, 183); }
.product-thumb { border: 1px solid rgb(221, 221, 221); margin-bottom: 20px; overflow: auto; }
.product-thumb .image { text-align: center; }
.product-thumb .image a { display: block; }
.product-thumb .image a:hover { opacity: 0.8; }
.product-thumb .image img { margin-left: auto; margin-right: auto; }
.product-grid .product-thumb .image { float: none; }
@media (min-width: 767px) {
}
.product-thumb h4 {  }
.product-thumb .caption { padding: 0px 15px; min-height: 140px; }
@media (max-width: 1200px) {
  .product-grid .product-thumb .caption { min-height: 210px; padding: 0px 10px; }
}
@media (max-width: 767px) {
  .product-grid .product-thumb .caption { min-height: 0px; }
}
.product-thumb .price { color: rgb(68, 68, 68); font-size: 17px; font-family: "PT Serif",serif; }
@media (max-width: 768px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1200px) {
  #content .col-lg-2:nth-child(6n+1), #content .col-lg-3:nth-child(4n+1), #content .col-lg-4:nth-child(3n+1), #content .col-lg-6:nth-child(2n+1) { clear: left; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #content .col-md-2:nth-child(6n+1), #content .col-md-3:nth-child(4n+1), #content .col-md-4:nth-child(3n+1), #content .col-md-6:nth-child(2n+1) { clear: left; }
}
@media (min-width: 768px) and (max-width: 991px) {
  #content .col-sm-2:nth-child(6n+1), #content .col-sm-3:nth-child(4n+1), #content .col-sm-4:nth-child(3n+1), #content .col-sm-6:nth-child(2n+1) { clear: left; }
}
@media (min-width: 768px) {
}
